/* Using Mixin */
$margS: 10px;
$margL: 15px;

@mixin marg() {
  body {
    margin-left: $margS;
    margin-right: $margS;
  }

  div {
    margin-left: $margL;
    margin-right: $margL;
  }
}

@include marg;